<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Welcome to the Game Portal</h1>

    <h2>Featured Games</h2>

    <form id="tagFilterForm">
        <!-- Search bar -->
        <label for="searchName">Search by Name:</label>
        <input type="text" id="searchName" name="searchName" placeholder="Enter game name">

        <ul class="genre-checkboxes" id="genreList">
            <!-- Genres will be dynamically generated here -->
        </ul>

        <button type="button" onclick="filterGames()">Filter Games</button>
    </form>

    <p>Explore our collection of games and start your gaming adventure!</p>

    <script src="home.js"></script>
</body>

</html>
